{% extends "base.html" %}

{% block titulo %}
Admin
{% endblock %}

{% block conteudo %}

<div class="container">

<h1>Painel Admin</h1>

<a href="/adm/pedidos" class="btn btn-green mb-4">
Ver Pedidos
</a>

<table class="table table-dark table-striped">

<tr>
<th>Nome</th>
<th>Preço</th>
<th>Ações</th>
</tr>

{% for item in itens %}

<tr>

<td>{{ item.nome }}</td>

<td>
R$ {{ "%.2f"|format(item.preco) }}
</td>

<td>

<a href="#" class="btn btn-warning">
Editar
</a>

<a href="#" class="btn btn-danger">
Deletar
</a>

</td>

</tr>

{% endfor %}

</table>

</div>

{% endblock %}