{% extends 'base.html' %}

{% block conteudo %}

<section class="hero fade-in">
    <div class="overlay-home">

        <!-- LOGO DENTRO DE CONTAINER CIRCULAR -->
        <div class="logo-home-container">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Skinna Bar" class="logo-home">
        </div>

        <h1>Seja bem-vindo ao Skinna Bar</h1>

        <p>Chopp • Música • Experiência</p>

    </div>
</section>

<section class="container mt-2 mb-4">
    <div class="row g-2">

        <div class="col-12 col-md-4">
            <div class="card-produto text-center">
                <h3>🍺 Cardápio</h3>
                <p>Veja todas as bebidas e comidas disponíveis.</p>
                <a href="{{ url_for('cardapio') }}" class="btn btn-green w-100">Abrir</a>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card-produto text-center">
                <h3>🎶 Programação</h3>
                <p>Confira os eventos e música ao vivo.</p>
                <a href="{{ url_for('programacao') }}" class="btn btn-green w-100">Ver Eventos</a>
            </div>
        </div>

        <div class="col-12 col-md-4">
            <div class="card-produto text-center">
                <h3>🔥 Promoções</h3>
                <p>Promoções especiais do dia.</p>
                <a href="{{ url_for('promocoes') }}" class="btn btn-green w-100">Ver Promoções</a>
            </div>
        </div>

    </div>
</section>

{% endblock %}